@keyframes fadeInLeft {
  from {
    /* opacity: 0; */
    transform: translateX(1000px);
  }

  to {
    /* opacity: 1; */
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    /* opacity: 0; */
    transform: translateX(-1000px);
  }

  to {
    /* opacity: 1; */
    transform: translateX(0);
  }
}


/* Animación de entrada */
/* @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */



/* GENERICOS */

.contenedor {
  display: grid;
  grid-template-columns: 4fr 3fr;
  width: 100%;
  height: 100vh;
  background-image: url('./../assets/images/mapa_sin_markers.webp');
  background-size: cover;
  background-position: center center;
  /* font-family: fatkat, sans-serif; */
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  background: linear-gradient(315deg, #FF466F, #FFBD54, #7D81F4, #B546F0, #8CA9F0);
  box-shadow: 0 0 5em #000000aa;
  animation: fadeInLeft 0.7s ease-out;
  position: relative;
}

.background p {
  margin: 0.5rem 0;
}

.otros__contenedor {
  background-color: #EEE;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 70px;
  animation: fadeInRight 0.7s ease-out;
   position: relative;
  z-index: 0;
}


.otros__contenedor::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 4px;
  background: linear-gradient(90deg, #FF466F, #FFBD54, #7D81F4, #B546F0, #8CA9F0);
  z-index: -1;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}


.boton {
  margin-top: 1.5rem;
  padding: 12px 24px;
  background: linear-gradient(90deg, #FF466F, #FFBD54, #7D81F4);
  border: none;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  max-height: 100px;
  max-width: 500px;
}

.boton a {
  color: white;
  text-decoration: none;
}

.boton:hover {
  transform: scale(1.05);
}

.flecha__desplazamiento {
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translate(0%, -50%);
  background-image: url('./../assets/images/flecha_desplazamiento.svg');
  background-size: contain;
  background-repeat: no-repeat;
  animation: fadeInUp 0.5s ease;
  width: 20px;
  height: 20px;
}
.flecha__desplazamiento-izquierda {
  top:center;
  color: #fff;
  left: 15px;
  animation: fadeInUp 0.5s ease;
}
.flecha__desplazamiento-derecha {
  top:center;
  right: 15px;
  animation: fadeInUp 0.5s ease;
}


/* CONFIGURACION PARTIDA */
.formulario {
  padding: 40px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 420px;
  animation: fadeInUp 0.5s ease;

  /* Truco para borde con degradado */
  position: relative;
  z-index: 0;
}

.formulario::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 4px;
  /* grosor del "borde" */
  background: linear-gradient(90deg, #FF466F, #FFBD54, #7D81F4, #B546F0, #8CA9F0);
  border-radius: 20px;
  z-index: -1;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

.formulario>div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formulario label {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.formulario p {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.formulario input,
.formulario select {
  color: #333;
  font-size: 1rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  height: 40px;
  border: 2px solid #FFBD54;
  transition: all 0.2s ease;
}

.formulario input:focus,
.formulario select:focus {
  outline: none;
  border: 4px solid #FFBD54;
  /* box-shadow: 0 0 0 3px #597edd; */
}




/* RANKING */


/* CONFIGURACION PARTIDA */
.ranking {
  color: #333;
  padding: 40px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  animation: fadeInUp 0.5s ease;

  position: relative;
  z-index: 0;
}


.ranking::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 4px;
  background: linear-gradient(90deg, #FF466F, #FFBD54, #7D81F4, #B546F0, #8CA9F0);
  border-radius: 20px;
  z-index: -1;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

.ranking .tabla {
  width: auto;
  border-collapse: collapse;
}

.ranking .tabla tr {}

.ranking .tabla th,
.ranking .tabla td {
  padding: 10px 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.ranking .jugador-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ranking .avatar {
  border-radius: 50%;
  object-fit: cover;
}



/* AMIGOS */

.otros__contenedor__amigos {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  animation: fadeInRight 0.7s ease-out;
  color: #333;
}

.peticiones__listado {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.peticiones__amigos,
.jugadores__disponibles {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
}


.otros__contenedor__amigos img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.peticiones__amigos {
  
  padding: 10px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.peticiones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.peticion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.amigos {
  padding: 10px;
}

.amigos .tabla {
  width: 100%;
  border-collapse: collapse;
  max-height: 50px;
  overflow: scroll;
}

.amigos .tabla tr {}

.amigos .tabla th {
  border-bottom: 1px solid #ddd;
}

.amigos .tabla td {
  padding: 10px 0;
}

.amigos .jugador-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.amigos,
.perfil__outlet,
.jugadores__disponibles,
.peticiones__amigos {
  
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  animation: fadeInUp 0.5s ease;
  position: relative;
  z-index: 0;
}

.amigos::before,
.perfil__outlet::before,
.jugadores__disponibles::before,
.peticiones__amigos::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 4px;
  background: linear-gradient(90deg, #FF466F, #FFBD54, #7D81F4, #B546F0, #8CA9F0);
  border-radius: 20px;
  z-index: -1;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

.peticion .check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.peticion .check:hover {
  background-color: #45a049;
}

.peticion .noCheck {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f44336;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.peticion .noCheck:hover {
  background-color: #d32f2f;
}



/* PERFIL */
.perfil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.perfil__botones {
  display: flex;
  gap: 15px;
}

.perfil__boton {
  cursor: pointer;
  padding: 10px 30px;
  margin: 0;
}
.perfil__outlet {
  height: 100%;
}

.perfil__form {
  color: #333;
  padding: 30px 0
}
.perfil__form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
  height: auto;
}

.perfil__form-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.avatar__img {
  width: 130px;
  border-radius: 50%;
  border: 2px solid #FFBD54;
}

.perfil__form-data input,
.perfil__form-data select {
  color: #333;
  font-size: 1rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  height: 40px;
  border: 2px solid #FFBD54;
  transition: all 0.2s ease;
}

.perfil__form-data input:focus,
.perfil__form-data select:focus {
  outline: none;
  border: 4px solid #FFBD54;
}